onlyBuiltDependencies[]=@clerk/shared
onlyBuiltDependencies[]=bufferutil
onlyBuiltDependencies[]=core-js
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=utf-8-validate
